   <div layout-margin>
   <div class="container">
    <md-toolbar layout="row" class="md-primary container-haeder">
      <div class="md-toolbar-tools">
        <span>Materias</span>
      </div>
    </md-toolbar>
    <div class="subject-container" layout-margin layout-padding layout-gt-sm="row">
      <div ng-click="regCtrl.selectSubject(s)" ng-class="{selected: s.selected}" md-colors="{color: 'red-A100', border-color: 'primary-600'}"
      class="subject" ng-repeat="s in regCtrl.career.subjects">
        {{s.code + "- "+ s.description}}          
      </div>
    </div>
  </div>
  <div  ng-show="regCtrl.selectedSubject"class="container">
    <md-toolbar layout="row" class="md-hue-3 container-haeder">
      <div class="md-toolbar-tools">
        <span>Cursos: {{regCtrl.selectedSubject.description}}</span>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div ng-repeat="s in regCtrl.selectedCourses">
          {{s.code + "- "+ s.professor}}          
      </div>
    </div>
  </div>
</div>