   <div layout-margin>
   <div class="container">
    <md-toolbar layout="row" class="md-primary container-haeder">
      <div class="md-toolbar-tools">
        <span>Materias</span>
      </div>
    </md-toolbar>
    <div class="subject-container" layout-margin layout-padding layout-gt-sm="row">
      <div ng-click="regCtrl.selectSubject(s)" ng-class="{selected: s.selected}" md-colors="{color: 'red-A100', border-color: 'primary-600'}"
      class="subject" ng-repeat="s in regCtrl.career.subjects">
        {{s.code + "- "+ s.description}}          
      </div>
    </div>
  </div>
  <div  ng-show="regCtrl.selectedSubject"class="container">
    <md-toolbar layout="row" class="md-hue-3 container-haeder">
      <div class="md-toolbar-tools">
        <span>Cursos: {{regCtrl.selectedSubject.description}}</span>
      </div>
    </md-toolbar>
    <div layout-margin layout-padding layout-gt-sm="row">
      <div  flex-gt-sm="50" ng-class="regCtrl.defineStyle(s)" class="course" ng-repeat="s in regCtrl.selectedCourses">
            <div layout="column">
              <span>Profesores</span>
              <div layout-gt-sm="row" layout-margin>
                  <span ng-repeat="p in s.professors">
                      {{p}}
                  </span>
              </div>
            </div>      
            <div layout="column">
              <span>Horarios</span>
              <div class="class" layout="column" layout-margin>
                  <span ng-repeat="p in s.classes">
                      {{p.day + "(" + p.type + ")"+ ": " + p.from +"-" + p.to}}  
                  </span>
              </div>
            </div> 
            <div layout="row">
              <span>Vacantes</span>
              <div class="class" layout="column" layout-margin>
                  <span >
                        {{s.vacancy}}
                  </span>
              </div>
            </div> 
            <div layout="row" layout-align="end center"> 
              <md-button ng-hide="regCtrl.anySelected" ng-click="regCtrl.selectCourse(s)" class="md-raised md-primary">
                Inscribir
              </md-button>
              <md-button ng-show= "s.selected"  ng-click="regCtrl.deleteCourse(s)"  class="md-raised md-warn">
                <md-icon aria-label="Delete" class="material-icons">delete_forever</md-icon>
              </md-button>
            <div>   
      </div>
    </div>
  </div>
</div>