    <md-toolbar flex layout="row">
      <md-button class="menu" hide-gt-sm ng-click="home.toggleMenu()" aria-label="Show Menu">
        <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
      </md-button>
      <h1 flex-offset-gt-sm="10">FiubaApp</h1>
      <div flex="90" id="app-user" hide-xs layout="column" layout-align="end end"> 
          <h1>{{home.currentUser.name}}</h1>
      </div>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav  ng-click="home.toggleMenu()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in home.menues">
                <md-button ng-click="home.navigate(it)">
                   <md-icon aria-label="Menu" class="material-icons md-48 avatar">{{it.avatar}}</md-icon>
                  {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content" ui-view>

        </md-content>

    </div>